<div style="margin-top: -30px;margin-bottom: 30px;">
  <h3 class="text-center">Submited Form Group Table</h3>
</div>
<div class="container mt-4">
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Mobile</th>
            <th>Emial</th>
            <th>NID</th>
            <th>Broker</th>
            <th>BO Type</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataService.dataArray; let i=index">
            <td>{{i+1}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.email}}</td>
            <td>{{data.nid}}</td>
            <td>{{data.broker}}</td>
            <td>{{data.boType}}</td>
            <td>
              <img [src]="data.image" alt="Uploaded Image" style="max-width: 50px;">
            </td>
        </tr>
    </tbody>
</table>
  </div>
  <div class="col-md-3">
    <a routerLink="/FormGroup" class="btn btn-warning">Back to form</a>
  </div>
  