<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/Form">My Angular Work</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/Form">Form</a></li>
      <li><a routerLink="/FormGroup">Form Group</a></li>
      <li><a routerLink="/FormGroupDataSaveInTable">Data Show</a></li>
      <li><a routerLink="/AnotherPageFormGroupDataSaveInTable">Data Show in Another Page</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>